<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="main.css">
    <link type="text/css" rel="stylesheet" href="bg_friends.css">
    <title>MemoryGame</title>
</head>
<body>
    <div class="wrapper">
        <div class="header bl">
            <div class="header_section">
                <div class="header_item headerlogo">
                    <a href="#"><img class="logo" src="azart.png" alt=""></a>
                </div>
                <div class="header_item headerButton"><a href="">Быстрая игра</a></div>
                <div class="header_item headerButton"><a href="">Друзья</a></div>
                <div class="header_item headerButton"><a href="">Профиль</a></div>
            </div>
            <div class="header_section">
                <div class="header_item headerButton"><a href="">Авторизация</a></div>
            </div>
        </div>
        <!-- MAINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
        <div class="find">
            <input type="text" class="find__friend">
            <a href="{% url "friends" %}" id="find"></a>
        </div>
        <div class="friends">
            <div class="friend">
                <div class="main__info">
                <img src="https://static.vecteezy.com/system/resources/previews/002/275/847/original/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg" alt="" class="firend__avatar">
                <p>Вася Пупыркин</p>
                <button>Добавить в друзья</button>
                </div>
                <div class="go__profile">
                    <a href="">Перейти в профиль</a>
                    <img src="https://cdn-icons-png.flaticon.com/512/3042/3042406.png" alt="">
                </div>
            </div>
        </div>
        <!-- MAINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN -->
        <div class="sideBar">
            <div class="sideBar_section">
                <ul>
                    <li>
                        <div class="sideBar_item"><img src="inst.png" alt=""></div>
                    </li>
                    <li>
                        <div class="sideBar_item"><img src="tiktok.png" alt=""></div>
                    </li>
                </ul>
            </div>
            <div class="sideBar_section">
                <div class="sideBar_item"><a href="https://t.me/molodavovchicca" target="_blank" rel="nofollow"><img class="share-tg" src="Telegram.png"></a></div>
            </div>
        </div>
        <footer>
            <p>Written by Artur & Vlados</p>
        </footer>
    </div>
</body>
</html>