{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="main.css">
    <link type="text/css" rel="stylesheet" href="bg_friends.css">
    <title>MemoryGame</title>
</head>
<body>
    <div class="wrapper">
        <div class="header bl">
            <div class="header_section">
                <div class="header_item headerlogo">
                    WDB
                </div>
                <div class="header_item headerButton"><a href="">Быстрая игра</a></div>
                <div class="header_item headerButton"><a href="">Друзья</a></div>
                <div class="header_item headerButton"><a href="">Профиль</a></div>
            </div>
            <div class="header_section">
                <div class="header_item headerButton"><a href="">Авторизация</a></div>
            </div>
        </div>

        <main>
            <button class="button-play">Играть</button>
        </main>
        <div class="sideBar">
            <div class="sideBar_section">
                <ul>
                    <li>
                        <div class="sideBar_item"><img src="inst.png" alt=""></div>
                    </li>
                    <li>
                        <div class="sideBar_item"><img src="tiktok.png" alt=""></div>
                    </li>
                </ul>
            </div>
            <div class="sideBar_section">
                <div class="sideBar_item"><a href="https://t.me/molodavovchicca" target="_blank" rel="nofollow"><img class="share-tg" src="Telegram.png"></a></div>
            </div>
        </div>
        <footer>
            <p>Written by Artur</p>
        </footer>
    </div>
</body>
</html>