{% extends 'game/base.html' %}
{% load static %}

{% block css_link %}
<link type="text/css" rel="stylesheet" href="{% static 'game/css/bg_authorization.css' %}">
{% endblock %}

{% block content %}
<div class="form">
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
    {% for f in form %}
        <div class="input-form">
            <p>{{f}}</p>
        </div>
        <div class="form-error">{{f.errors}}</div>
    {%endfor%}
        <div class="input-form">
            <input type="submit" value='Войти'>
        </div>
    </form>
    <a href="{% url 'registering' %}">Зарегестрироваться</a>
</div>

{% endblock %}